Repository vaishnavi3001/jira-project, pull requests merged in 2022-04, with the labels that each got.

#68 Feature gin tests
  jira-backend/dbutils/conn_db.go
  jira-backend/dbutils/helper_db.go
  jira-backend/dbutils/issue_db.go
  jira-backend/dbutils/projects_db.go
  jira-backend/dbutils/sprints_db.go
  jira-backend/dbutils/user_auth_db.go
  jira-backend/dbutils/users_db.go
  jira-backend/go.mod
  jira-backend/go.sum
  jira-backend/handlers/middlewares.go
  jira-backend/handlers/projects_handlers.go
  jira-backend/handlers/sprint_handlers.go
  jira-backend/jira1.db
  jira-backend/main.go
  jira-backend/skeletons/project_skeletons.go
  jira-backend/test.db
  jira-backend/tests/issues_test.go
  jira-backend/tests/run_test.go
  jira-backend/tests/setup_test.go
  jira-backend/tests/tests_data.go
  jira-backend/utils/configreader.go
Labels: back-end, test, sprint 3

#70 refactored user authentication to get token from header
  jira-backend/handlers/middlewares.go
  jira-backend/handlers/users_handlers.go
  jira-backend/skeletons/users_skeletons.go
Labels: back-end, sprint 3

#73 Feature/sprint issue enhance
  .DS_Store
  jira-backend/handlers/middlewares.go
  jira-backend/jira.db
  jira-backend/jira1.db
  jira-backend/routes/routes.go
  jira-frontend/src/app/app-routing.module.ts
  jira-frontend/src/app/app.module.ts
  jira-frontend/src/app/interceptors/authinterceptor.service.spec.ts
  jira-frontend/src/app/interceptors/authinterceptor.service.ts
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.html
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.scss
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.html
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.scss
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.ts
Labels: enhancement, front-end, feature (sprint), sprint 3

#78 Feature/sprint issue enhance
  jira-frontend/src/app/api-interface.service.ts
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.html
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.scss
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.ts
  jira-frontend/src/app/issue/issue-list/issue-list.component.ts
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.html
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.ts
Labels: enhancement, front-end, feature (issue), hard, sprint 3

#87 Vpd/feature/user profile
  jira-backend/constants/constants.go
  jira-backend/dbutils/users_db.go
  jira-backend/handlers/users_handlers.go
  jira-backend/routes/routes.go
  jira-backend/skeletons/users_skeletons.go
Labels: back-end, medium, user-story

#108 Feature backend testcases
  jira-backend/tests/tests_data.go
Labels: back-end, easy, test, sprint 4

#110 Enhancement sprint details
  jira-frontend/src/app/app-routing.module.ts
  jira-frontend/src/app/app.module.ts
  jira-frontend/src/app/issue/issue-create/issue-create.component.css
  jira-frontend/src/app/issue/issue-create/issue-create.component.css.map
  jira-frontend/src/app/issue/issue-create/issue-create.component.ts
  jira-frontend/src/app/project/project-list/project-list.component.css
  jira-frontend/src/app/project/project-list/project-list.component.css.map
  jira-frontend/src/app/project/project-list/project-list.component.html
  jira-frontend/src/app/project/project-list/project-list.component.scss
  jira-frontend/src/app/project/project-list/project-list.component.ts
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.css
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.css.map
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.html
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.scss
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.ts
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.css
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.css.map
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.html
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.ts
Labels: enhancement, feature (project), feature (issue), medium, sprint 4

#119 feature:user-profile and change password ui
  jira-frontend/src/app/api-interface.service.ts
  jira-frontend/src/app/user/user-profile/user-profile.component.html
  jira-frontend/src/app/user/user-profile/user-profile.component.ts
Labels: front-end, medium, feature (user profile)

#120 Frontend dev enhance
  .gitignore
  jira-frontend/package.json
  jira-frontend/src/app/api-interface.service.ts
  jira-frontend/src/app/issue/issue-create/issue-create.component.css.map
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.css.map
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.html
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.ts
  jira-frontend/src/app/navbar/navbar.component.css.map
  jira-frontend/src/app/navbar/navbar.component.html
  jira-frontend/src/app/navbar/navbar.component.scss
  jira-frontend/src/app/navbar/navbar.component.ts
  jira-frontend/src/app/project/newproject/newproject.component.css.map
  jira-frontend/src/app/project/newproject/newproject.component.ts
  jira-frontend/src/app/project/project-list/project-list.component.css.map
  jira-frontend/src/app/project/project-settings/project-settings.component.ts
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.css.map
  jira-frontend/src/app/sprint/sprint-detail/sprint-detail.component.ts
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.css.map
  jira-frontend/src/app/sprint/sprint-list/sprint-list.component.html
  jira-frontend/tsconfig.json
  sampleflask/api.py
  sampleflask/requirements.txt
Labels: enhancement, feature, front-end, medium, sprint 4

#126 Frontend dev enhance
  jira-frontend/src/app/api-interface.service.ts
  jira-frontend/src/app/app-routing.module.ts
  jira-frontend/src/app/app.module.ts
  jira-frontend/src/app/comments/view-comments/view-comments.component.html
  jira-frontend/src/app/comments/view-comments/view-comments.component.scss
  jira-frontend/src/app/comments/view-comments/view-comments.component.spec.ts
  jira-frontend/src/app/comments/view-comments/view-comments.component.ts
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.html
  jira-frontend/src/app/issue/issue-detail/issue-detail.component.ts
  jira-frontend/src/app/login-component/login-component.component.html
  jira-frontend/src/app/login-component/login-component.component.scss
  jira-frontend/src/app/project/project-settings/project-settings.component.ts
Labels: feature, front-end, medium, sprint 4

#129 bugfix: populate sprint, members and projects
  jira-frontend/src/app/api-interface.service.ts
  jira-frontend/src/app/issue/issue-create/issue-create.component.html
  jira-frontend/src/app/issue/issue-create/issue-create.component.ts
Labels: bug

#131 Frontend dev enhance
  jira-frontend/cypress.json
  jira-frontend/cypress/constants.js
  jira-frontend/cypress/integration/1-getting-started/todo.spec.js
  jira-frontend/cypress/integration/1.register test/test_register.js
  jira-frontend/cypress/integration/10.create_issue/test_create_issue.js
  jira-frontend/cypress/integration/2-advanced-examples/actions.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/aliasing.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/assertions.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/connectors.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/cookies.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/cypress_api.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/files.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/local_storage.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/location.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/misc.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/navigation.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/network_requests.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/querying.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/traversal.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/utilities.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/viewport.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/waiting.spec.js
  jira-frontend/cypress/integration/2-advanced-examples/window.spec.js
  jira-frontend/cypress/integration/2.login test/test_login.js
  jira-frontend/cypress/integration/3.project list test/test_project_list.js
  jira-frontend/cypress/integration/4.create project/test_create_project.js
  jira-frontend/cypress/integration/5.view_project_details/test_view_project.js
  jira-frontend/cypress/integration/6.go_to_sprints/test_go_test.js
  jira-frontend/cypress/integration/7.go_to_sprint_details/go_to_sprint_details.js
  jira-frontend/cypress/integration/8.go_to_issue_details/go_to_issue_details.js
  jira-frontend/cypress/integration/9.delete_project/test_delete_project.js
  jira-frontend/cypress/integration/file1/testcase.js
  jira-frontend/cypress/integration/logout/test_logout.js
  jira-frontend/cypress/support/index.js
  jira-frontend/mypatch.patch
  jira-frontend/src/app/issue/issue-create/issue-create.component.html
  jira-frontend/src/app/login-component/login-component.component.html
  jira-frontend/src/app/project/newproject/newproject.component.html
  jira-frontend/src/app/project/project-settings/project-settings.component.ts
  jira-frontend/src/app/register/register.component.html
Labels: enhancement, feature, front-end, medium, test, sprint 4
